
@media(min-width:1400px){
    .ecommerce.container{
        max-width: 1320px;
    }
}
@media (min-width: 1200px) and (max-width:1399px){
    .ecommerce.container {
        max-width: 1140px;
    }
}
@media (min-width: 992px)and (max-width:1139px){
    .ecommerce.container {
        max-width: 960px;
    }
}
@media (min-width: 768px) and (max-width:991px){
    .ecommerce.container {
        max-width: 720px;
    }
}
@media (min-width: 576px) and (max-width:767px){
    .ecommerce.container {
        max-width: 540px;
    }
}


.features-item .image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
}

.features-item .image-stack .stack-front {
    grid-row: 1;
    grid-column: 1 / span 8;
    margin-top: 20%;
    width: 100%;
    z-index: 2;
}

.features-item .image-stack .stack-back {
    grid-column: 4 / -1;
    grid-row: 1;
    width: 100%;
    z-index: 1;
}

.features-item .btn-get-started {
    background-color: #e84545;
    color: #ffffff;
    padding: 8px 30px 10px 30px;
    border-radius: 4px;
}

body{
    background-color: #f1f3f6;
}

/* Portfolio Section - Home Page
------------------------------*/
  
.featured{
    padding-bottom: 60px
}

.portfolio-item {
position: relative;
overflow: hidden;
}

.portfolio-item .portfolio-info {
opacity: 0;
position: absolute;
left: 12px;
right: 12px;
bottom: -100%;
z-index: 3;
transition: all ease-in-out 0.5s;
background: rgba(255,255,255,0.9);
padding: 15px;
}

.portfolio-item .portfolio-info h4 {
font-size: 18px;
font-weight: 600;
padding-right: 50px;
}

.portfolio-item .portfolio-info p {
color: rgba(var(--default-color-rgb), 0.7);
font-size: 14px;
margin-bottom: 0;
padding-right: 50px;
}

.portfolio-item .portfolio-info .preview-link,
.portfolio-item .portfolio-info .details-link {
position: absolute;
right: 50px;
font-size: 24px;
top: calc(50% - 14px);
color: rgba(var(--default-color-rgb), 0.7);
transition: 0.3s;
line-height: 0;
}

.portfolio-item .portfolio-info .preview-link:hover,
.portfolio-item .portfolio-info .details-link:hover {
color: var(--accent-color);
}

.portfolio-item .portfolio-info .details-link {
right: 14px;
font-size: 28px;
}

.portfolio-item:hover .portfolio-info {
opacity: 1;
bottom: 0;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
}

.section-title p {
    margin-bottom: 0;
}
.section-title {
    text-align: center;
    padding-bottom: 60px;
}

.section-title h2:before, .section-title h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: #e84545;
    display: inline-block;
}
.section-title h2:before {
    margin: 0 15px 10px 0;
}
.section-title h2:after {
    margin: 0 0 10px 15px;
}


/* Footer */

.footer {
    --background-color: #f4f4f4;
    color: #212529;
    background-color: #f4f4f4;
    font-size: 14px;
    padding-bottom: 50px;
}
.footer .footer-top {
    padding-top: 50px;
}
.footer .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(33,37,41, 0.05);
}

.footer .copyright p {
    margin-bottom: 0;
}
.footer .credits {
    margin-top: 6px;
    font-size: 13px;
}

.cartCounter {
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff, #f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}

.count {
    display: inline-block;
    padding: 3px 6px;
    width: 46px;
    border-radius: 2px;
    margin: 0 5px;
    text-align: center;
}

/* CART.js */

.cart-items{
    margin-bottom: 10px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.2);
    background: white;
}
.nameAndDeliverDate{
    display: flex;
    align-items: baseline;
    gap: 50px;
}

.productName {
    color: #212121;
    line-height: 1;
}

.price{
    font-size: 18px;
    font-weight: 500;
    color: #212121;
}